<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar-condense">
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="buttons-container">
    <ion-button [routerLink]="['/gestion-usuarios']" color="primary" expand="block" class="modern-button">
      Gestionar Usuarios
    </ion-button>
    <ion-button [routerLink]="['/gestion-trabajos']" color="secondary" expand="block" class="modern-button">
      Gestionar Trabajos
    </ion-button>
    <ion-button [routerLink]="['/gestion-fichajes']" color="secondary" expand="block" class="modern-button">
      Gestionar Fichajes
    </ion-button>
  </div>
</ion-content>
