<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Formulario -->
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input [(ngModel)]="Nombre" [value]="Nombre"></ion-input>
    </ion-item>
    <!-- Mensaje de error si el campo Nombre está vacío -->
    <p *ngIf="mostrarErrorNombre" class="error-text">
      El nombre es obligatorio.
    </p>

    <ion-item>
      <ion-label position="stacked">Usuario:</ion-label>
      <ion-input [(ngModel)]="Usuario" [value]="Usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Clave:</ion-label>
      <ion-input [(ngModel)]="Clave" [value]="Clave"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Botón Guardar -->
  <div class="action-buttons">
    <ion-button (click)="guardarUsuario()" color="success" expand="block">
      Guardar Cambios
    </ion-button>
    <ion-button [routerLink]="['/gestion-usuarios']" color="warning" expand="block">
      Cancelar
    </ion-button>
  </div>
</ion-content>
